<%- include('../partials/header.ejs'); %>

<div class="row mt-4">
    <div class="col-12">
        <h2>Ventas realizadas</h2>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Tecnologia</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>titulo</td>
                    <td>descripcion</td>
                    <td>precio</td>
                    <td>imagen</td>
                    <td>autor</td>
                    <td>tecnologia</td>
                    <td><a href="#" class="btn btn-success">Editar</a></td>
                    <td>
                        <form action="#" method="POST">
                            <input type="hidden" name="id">
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<%- include('../partials/footer.ejs'); %>