   <!-- Sidebar Widgets Column -->
   <div class="col-md-4">

       <!-- Search Widget -->
       <div class="card my-4">
           <h5 class="card-header">Buscar producto</h5>
           <div class="card-body">
               <div class="input-group">
                   <input type="text" class="form-control" placeholder="manual imc">
                   <span class="input-group-append">
                       <button class="btn btn-secondary" type="button">Buscar</button>
                   </span>
               </div>
           </div>
       </div>

       <div class="card my-4">
           <h5 class="card-header">Informacion</h5>
           <div class="card-body">
               Todos los productos vendidos en este sitio web, son de autoria del propietario del mismo.
           </div>
       </div>

   </div>