<%- include('./partials/header.ejs'); %>

<div class="row">
    <div class="col-12">
        <h1 class="my-4">Acerca de nosotros</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus laborum neque iure iste ipsum esse quia
            magnam unde, vitae porro deserunt tenetur minus eveniet reiciendis aliquam iusto itaque libero quis velit.
            Quae tempore perspiciatis error in expedita odio impedit, eaque ipsam tenetur minima rerum, nemo illum.
            Ducimus illo expedita animi repellat, maxime consequatur pariatur quo dicta nulla qui quibusdam fuga
            corporis molestiae praesentium magnam explicabo asperiores natus rerum? Similique dignissimos assumenda aut
            nemo porro consequatur corrupti totam obcaecati. Ipsa itaque sint porro. Magni velit explicabo debitis odit?
            Nam debitis itaque, fugiat voluptas, excepturi, officiis omnis error alias laboriosam qui blanditiis?
        </p>
    </div>
</div>




<%- include('./partials/footer.ejs'); %>