<%- include('./partials/header.ejs'); %>

<div class="row mt-4">
    <div class="col-12">
        <h2>Carrito de compras</h2>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>titulo</td>
                    <td>precio</td>
                    <td><img src="/imagenes/1597171699812Screenshot from 2020-08-10 02-57-29.png" width="80px">
                    </td>
                    <td>
                        <form action="#" method="POST">
                            <input type="hidden" name="id">
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<%- include('./partials/footer.ejs'); %>