<%- include('./partials/header.ejs'); %>

<div class="row">
    <div class="col-12">
        <h1 class="my-4">Lo mas vendido</h1>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <!-- Blog Post -->
        <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Titulo</h2>
                <p class="card-text">Descripcion</p>
                <a href="#" class="btn btn-primary">Precio &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                <a href="#">Tecnologia</a>
                by
                <a href="#">Autor</a>
            </div>
        </div>
    </div>
</div>


<%- include('./partials/footer.ejs'); %>