<%- include('./partials/header.ejs'); %>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <h2 class="my-4">Gracias por su compra!</h2>
        <h3>Pago realizado con exito</h3>
        <br>
        <h3>Suma del monto total pagado: $<%= total %></h3>
        <p>Todos los productos que usted adquiera, estaran disponibles para su descarga en la seccion de productos
            comprados.</p>
        <a href="/" class="btn btn-primary btn-block mt-2">Regresar</a>
    </div>
    <div class="col-4"></div>
</div>

<%- include('./partials/footer.ejs'); %>