* {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* .bg-dark {
    background-color: rgb(0, 74, 117) !important;
} */